.estimate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 3em;
    font-size: 2em;
    margin: 10px 200px 10px 20px;
}