.banner {
    padding-top: 300px;
}

.banner-title {
    position: fixed;
    top: 200px;
    left: 400px;
    line-height: 3.2rem;
    font-size: 4.2rem;
    font-weight: 700;
    color: #000000a8;
    text-align: center;
    margin-bottom: 1rem;
    z-index: -1;
}

.seq-images {
    z-index: -2;
}

.btn-group .btn {
    color: #000000;
}

.service-item p {
    color: #000000 !important;
}

.primary-section {
    z-index: 100;
    background-color: #fff;
}

.marketplace {
    z-index: 100;
    background-color: #fff;
}