.nav-link {
    color: #000000 !important;
}

.navbar {
    position: fixed;
    padding-top: 0;
    z-index: 400;
    justify-content: space-between;
    background: #fff;
    width: 100vw;
    height: 80px;
    padding-bottom: -600px;
    /* margin-bottom: 200px; */
}